{% include "top.html.twig" %}
  {% if susans is not empty %}
  <h1> View all titles in library </h1>
  {% for steves in susans %}
  <ul>
    {% set author = steves.findAuthors %}
    <li><a href="book{{steves.getId}}">{{ steves.getTitle }}</a> by <a href ='author{{ author[0].getId }}'>{{ author[0].getFirst }} {{ author[0].getLast }}</a> {{ steves.getLocation }}</li>
  </ul>
  {% endfor %}
  {% else %}
  <h4> Oh no! There seems to be no books in the inventory </h4>
  {% endif %}
{% include "bottom.html.twig" %}
